<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wzh.mycombat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.MainActivity" />
        <activity android:name=".controller.activity.FenleiActivity" />
        <activity android:name=".controller.activity.ShowImageAndGifActivity" />
        <activity android:name=".controller.activity.PinPaiActivity" />
        <activity android:name=".controller.activity.HTMLActivity" />
        <activity android:name=".controller.activity.LiWuActivity"></activity>
    </application>

</manifest>